.input {
  box-sizing: border-box;
  padding-left: var(--space-md);
  margin: 0;
  border: 1px solid var(--border-primary);
  width: 14rem;
  height: 28px;
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: var(--text-xs);
  font-weight: normal;
  background-color: transparent;
  color: var(--color-text);

  &:focus {
    outline: 2px solid var(--button-secondary);
    outline-offset: -1px;
  }
}
