.googleBtn {
  background-color: transparent;
  border: 1px solid var(--border-primary);
  color: var(--text-primary);
  border-radius: 6px;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--hover-background);
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 100%;
}

.btnText {
  flex-grow: 1;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-primary);
  padding-right: 48px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-secondary);
  }

  .primaryButton {
    background-color: var(--brand-primary);
    color: var(--text-primary);
    border: none;
    border-radius: 6px;
    padding: 0.75rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--brand-hover);
    }
  }

  .input {
    background-color: var(--input-background);
    border: 1px solid var(--border-primary);
    border-radius: 6px;
    padding: 0.75rem 1rem;
    color: var(--text-primary);
    font-size: 0.9rem;
    transition: border-color 0.2s;

    &:focus {
      outline: none;
      border-color: var(--brand-primary);
    }
  }

  .success {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.6rem;

    > p:last-child {
      font-size: 0.8rem;
      color: var(--text-muted);
    }
  }

  .error {
    color: var(--destructive);
  }
}
