.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--space-md);
  counter-reset: grid-items;
  width: 100%;

  .new {
    height: 300px;
    border-radius: var(--radius-md);
    border: var(--color-border-subtle) 2px dotted;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
  }

  .entry {
    height: 300px;
    border: var(--color-border) 1px solid;
    border-radius: var(--radius-sm);
    padding: var(--space-md);
    gap: var(--space-md);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .title {
      font-weight: var(--font-bold);
    }

    .content {
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: var(--color-text-muted);
    }

    .timestamp {
      color: var(--color-text-muted);
    }
  }
}
