.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--spacing-md);
  width: 100%;
}

.new {
  height: 300px; /* Consider a variable for height later */
  min-width: 200px;
  border-radius: var(--border-radius-md);
  border: var(--color-border-secondary) 2px dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
}

.entry {
  height: 300px; /* Consider a variable for height later */
  border: var(--color-border-secondary) 1px solid;
  border-radius: var(--border-radius-sm);
  padding: var(--spacing-3xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  justify-content: flex-start;

  & .title {
    font-weight: var(--font-weight-bold);
  }

  & .content {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 100%;
    color: var(--color-text-muted);
  }

  & .timestamp {
    color: var(--color-text-muted);
  }
}
