.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);

    > .top {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .left {
        display: flex;
        gap: var(--spacing-md);
      }

      .button {
        cursor: pointer;
        width: fit-content;
        padding: var(--spacing-sm) var(--spacing-md);
        outline: none;
        border: 1px solid var(--color-border-secondary);
        background-color: var(--color-brand-primary);
        border-radius: var(--border-radius-md);
      }
    }
  }

  .error {
    color: var(--color-destructive);
  }
}

.field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-xs);
  width: 100%;
  max-width: 20rem;
}

.label {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-primary);
}

.input {
  box-sizing: border-box;
  padding-left: var(--spacing-sm);
  margin: 0;
  border: 1px solid var(--color-border-primary);
  width: 100%;
  height: var(--spacing-2xl);
  border-radius: var(--border-radius-sm);
  font-family: inherit;
  font-size: var(--font-size-base);
  background-color: transparent;
  color: var(--color-text-primary);

  &:focus {
    outline: 2px solid var(--color-brand-primary);
    outline-offset: -1px;
  }
}

.error {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-tight);
  color: var(--color-red-800);
}
