@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.headingIcon {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  background-color: var(--muted-foreground);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.headingText {
  width: 120px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--muted-foreground);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.headingContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.allItemsIcon {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--muted-foreground);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.allItemsLabel {
  width: 80px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--muted-foreground);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.allItemsRow {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 2rem;
  padding-left: 10px;
  border-radius: var(--radius);
}

.categoryLabel {
  width: 80px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--muted-foreground);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.categoryIcon {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--muted-foreground);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  flex-shrink: 0;
}

.categoryName {
  flex: 1;
  height: 16px;
  border-radius: 4px;
  background-color: var(--muted-foreground);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.categoryItem {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 2rem;
  padding-left: 10px;
  border-radius: var(--radius);
}

.footerAvatar {
  width: 48px;
  height: 48px;
  border-radius: var(--radius);
  background-color: var(--muted-foreground);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
