.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.categoryInput {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  > input {
    color: var(--text-primary);
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    padding-left: 15px;
    border-radius: var(--radius);
    background-color: var(--input-background);
  }

  .error {
    font-size: 13px;
    color: var(--destructive);
  }
}

.button {
  cursor: pointer;
  width: fit-content;
  padding: 10px 20px;
  outline: none;
  border: 1px solid var(--border-secondary);
  background-color: var(--brand-primary);
  border-radius: var(--radius);
}
