.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--spacing-xl);
}

.categoryInput {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  > input {
    color: var(--color-text-primary);
    height: var(--spacing-2xl);
    width: 100%;
    outline: none;
    border: none;
    padding-left: var(--spacing-md);
    border-radius: var(--border-radius-md);
    background-color: var(--color-input-background);
  }

  .error {
    font-size: var(--font-size-sm);
    color: var(--color-destructive);
  }
}

.button {
  cursor: pointer;
  width: fit-content;
  padding: var(--spacing-sm) var(--spacing-xl);
  outline: none;
  border: 1px solid var(--color-border-secondary);
  background-color: var(--color-brand-primary);
  border-radius: var(--border-radius-md);
}
