.header {
  min-height: var(--space-3xl);
  border-bottom: 1px solid var(--border-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-lg);
  gap: var(--space-lg);

  .new {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
  }

  .buttons {
    display: flex;
    gap: var(--space-md);
    align-items: center;
  }
}
