.skeleton {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);

  .title {
    width: 6.25rem;
    height: var(--space-2xl);
    border-radius: var(--radius-sm);
    background-color: var(--color-bg-panel);
    background-size: 200% 100%;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--space-md);
    width: 100%;

    .item {
      height: 300px;
      min-width: 200px;
      border-radius: var(--radius-sm);
      background-color: var(--color-bg-panel);
      background-size: 200% 100%;
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
  }
}
