.skeleton {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--space-md);
  width: 100%;
}

.item {
  height: 300px;
  min-width: 200px;
  background: linear-gradient(
    90deg,
    var(--color-bg-skeleton) 25%,
    var(--color-bg-skeleton-shine) 50%,
    var(--color-bg-skeleton) 75%
  );
  background-size: 200% 100%;
  border-radius: var(--radius-sm);
  animation: shimmer 1.5s infinite linear;
}

.title {
  width: 6.25rem;
  height: var(--space-2xl);
}
