.skeleton {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--spacing-md);
  width: 100%;
}

.item {
  height: 300px; /* Keeping hardcoded for now */
  min-width: 200px; /* Keeping hardcoded for now */
  background: linear-gradient(
    90deg,
    var(--color-skeleton-background) 25%,
    var(--color-skeleton-background-light) 50%,
    var(--color-skeleton-background) 75%
  );
  background-size: 200% 100%;
  border-radius: var(--border-radius-sm);
  animation: shimmer 1.5s infinite linear;
}

.title {
  width: var(--spacing-6xl);
  height: var(--spacing-2xl);
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
