.overlay {
  background-color: var(--color-overlay-background);
  backdrop-filter: blur(20px);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  background-color: var(--color-sidebar-background);
  border-radius: var(--border-radius-md);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: var(--spacing-2xl);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &:focus {
    outline: none;
  }
}

.title {
  margin: 0;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
}

.description {
  margin: var(--spacing-sm) 0 var(--spacing-xl);
  font-size: var(--font-size-sm);
  color: var(--color-text-muted);
  line-height: var(--line-height-normal);
}

.trigger {
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  height: var(--spacing-xl);
  padding-left: var(--spacing-sm);
  border-radius: var(--border-radius-md);
  cursor: pointer;

  &:hover {
    background-color: var(--color-hover-background);
    color: var(--color-text-primary);
  }
}

.close {
  all: unset;
  font-family: inherit;
  border-radius: var(--border-radius-full);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: var(--spacing-sm);
  right: var(--spacing-sm);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
