.closeButton {
  all: unset;
  position: absolute;
  top: var(--space-md);
  right: var(--space-md);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-xs);
  border-radius: var(--radius-full);
  cursor: pointer;
  color: var(--color-text-muted);

  &:hover {
    color: var(--color-text);
  }
}
